/*& ===================== common css ======================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li ol {
  list-style-type: none;
  color: black;
}

a span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/*& ================== container css ====================== */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, #fdfbfb, #ebedee);
  font-family: "Poppins", sans-serif;
}

.currency-convertor-box {
  width: 24vw;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.form {
  margin: 2rem 0 1rem 0;
}

.form input select button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
